body {
    font-family: verdana,Helvetica,sans-serif,Arial;
    font-size: 10pt;
}
table {
    border-collapse: collapse;
}
input[type='button'] {
    background-color: blue;
    color:white;
}

#mapCanvas, .google-map {
    position: absolute;
    top: 100px;
    width: 680px;
    height: 700px;
    border: 1px solid black;
}
